/* immutability and stylelint example */

.title {
  color: blue;
  font-weight: bold;
}

.title {
  color: green;
}

.article .title {
  font-size: 1.2em;
}

/* POSTCSS AUTOPREFIXER EXAMPLES 
  check .dest/ folder for the processed version
*/
img{
  filter: grayscale(0.9);
}

.autoprefixer-filter {
  display: flex;
}

.cssshort-section {
  text: #333 bold justify uppercase 1.25em 1.7 .05em;
}

.cssnext-link {
  color: color(blue alpha(-10%));
}

.cssnext-link:hover {
  color: color(orange blackness(80%));
}