header {
    background-color: tomato;
    padding: 10px;
    /*height: $header-height;*/
}
.header-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.brand {
}
nav {
    display: flex;
    align-items: baseline;
    flex-grow: 1;
}
nav a {
   text-decoration: none;
   color: white;
}
nav a:hover {
   text-decoration: underline;
   color: white;
}
nav ul {
    display: inline-flex;
    height: 50px;
    align-items: center;
}
nav ul li {
    padding-left: 20px;
}
